<div class="d-grid gap-3 mb-3">
  <a href="/admin/carparks" class="btn btn-primary btn-lg">Manage Car Parks</a>
  <a href="/admin/cameras" class="btn btn-primary btn-lg">Manage Cameras</a>
  <a href="/admin/whitelists" class="btn btn-primary btn-lg">View Whitelists</a>
  <a href="/admin/dashboard" class="btn btn-secondary btn-lg">Back to Main Dashboard</a>
</div> 